<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/team.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>Team</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>

    <script type="text/javascript " src="/js/streamNewPage.js "></script>

</head>

<body>
    <section>
        <div class="container">
            <header>
                <img id="logoimg" src="img/logo.png">
                <a href="home" class="logo" style="padding-left: 3em;">GALAXY NEWS</a>

                <ul>
                  <li><a href="home"> Home </a></li>
                  <li><a href="concorso"> Concorso </a></li>
                  <li><a href="trivia"> Trivia </a></li>
                  <li><a href="travelSply"> TravelSearch </a></li>
                  <li><a onclick="streamPage()"> Stream </a></li>
                  <li><a href="team"> Team </a></li>
                </ul>
            </header>
            <div class="pictures">
                <div class="profiloGiorgio profilo">
                    <img class="imgProf" src="img/icone/giorgio.jpg">
                    <h3 class="name"> GIORGIO </h3>
                </div>
                <div class="profiloIrene profilo">
                    <img class="imgProf" src="img/icone/ire.jpg">
                    <h3 class="name"> IRENE </h3>
                </div>
                <div class="profiloBeatrice profilo">
                    <img class="imgProf" src="img/icone/bea.jpg">
                    <h3 class="name"> BEATRICE </h3>
                </div>
                <div class="profiloGigi profilo">
                    <img class="imgProf" src="img/icone/gigi.jpg">
                    <h3 class="name"> LUIGI </h3>
                </div>
                <div class="profiloGiovanni profilo">
                    <img class="imgProf" src="img/icone/gio.jpg">
                    <h3 class="name"> GIOVANNI </h3>
                </div>
            </div>

        </div> <!--fine div container-->

    </section>
</body>
